In [1]:
import pandas as pd
import numpy as np

In [2]:
class_details = pd.read_csv('E:/combinedata/class_details.csv')
course_enrollments = pd.read_csv('E:/combinedata/course_enrollments.csv')
students = pd.read_csv('E:/combinedata/students.csv')
test_submissions = pd.read_csv('E:/combinedata/test_submissions.csv')
test_details = pd.read_csv('E:/combinedata/tests_details.csv')

In [3]:
test_details.shape , test_submissions.shape, students.shape,course_enrollments.shape,class_details.shape

((1700, 12), (3589, 10), (10000, 10), (10000, 23), (90, 72))

In [ ]:
class_details

In [ ]:
course_enrollments

In [4]:
students.drop('targets/0/title/1/value',axis=1,inplace=True)

In [5]:
students.drop('targets/0/updatedOn',axis=1,inplace=True)

In [6]:
students

,sid,targets/0/_id,targets/0/title/0/language,targets/0/title/0/value,targets/0/title/1/language,target_super_groups/0/_id,target_super_groups/0/title/0/language,target_super_groups/0/title/0/value
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,7a5d8c4c00f5f6340f28ba4b49e519ba,English,GATE ME,Hindi,c1d47cdfe41a7ea2c337dd54c5114168,English,Engineering Recruitment Exams
1,a4839004275f9f0583a20f03a8b759c3,7a5d8c4c00f5f6340f28ba4b49e519ba,English,GATE ME,Hindi,c1d47cdfe41a7ea2c337dd54c5114168,English,Engineering Recruitment Exams
2,bd73581ef03a1f15f24a7d2c7b573792,7a5d8c4c00f5f6340f28ba4b49e519ba,English,GATE ME,Hindi,c1d47cdfe41a7ea2c337dd54c5114168,English,Engineering Recruitment Exams
3,7a3595d03ba05f3778ade4e0881be40f,7a5d8c4c00f5f6340f28ba4b49e519ba,English,GATE ME,Hindi,c1d47cdfe41a7ea2c337dd54c5114168,English,Engineering Recruitment Exams
4,ee2dce155a659d3b6594479d228e98b8,7a5d8c4c00f5f6340f28ba4b49e519ba,English,GATE ME,Hindi,c1d47cdfe41a7ea2c337dd54c5114168,English,Engineering Recruitment Exams
...,...,...,...,...,...,...,...,...
9995,0f4f468402eb79bf4033bb327ae72167,b81a8991dd18c0b47f6bc16c47dfa0ae,English,SSC CGL,Hindi,b44c28652d35c281b32c5dafb27ae341,English,State Govt. Exams
9996,b756811fd27b908aa17fba7068a3ca63,b81a8991dd18c0b47f6bc16c47dfa0ae,English,SSC CGL,Hindi,b44c28652d35c281b32c5dafb27ae341,English,State Govt. Exams
9997,e040f4ec1ccbc7ee248e334a6eab61e6,b81a8991dd18c0b47f6bc16c47dfa0ae,English,SSC CGL,Hindi,b44c28652d35c281b32c5dafb27ae341,English,State Govt. Exams
9998,503ad6f319cab78d8634549fa923c073,b81a8991dd18c0b47f6bc16c47dfa0ae,English,SSC CGL,Hindi,b44c28652d35c281b32c5dafb27ae341,English,State Govt. Exams
9999,e3903c17f808f4fdc1722b55b0d91f0c,b81a8991dd18c0b47f6bc16c47dfa0ae,English,SSC CGL,Hindi,b44c28652d35c281b32c5dafb27ae341,English,State Govt. Exams

In [7]:
set(students['targets/0/title/0/value']), set(students['target_super_groups/0/title/0/value'])

({'AMCAT',
  'Airforce Group X',
  'Airforce Group Y',
  'Bank of Maharastra Clerk',
  'Bihar Police SI',
  'CTET',
  'Delhi Forest Guard',
  'Delhi Police Constable',
  'EPFO Assistant',
  'GATE IN',
  'GATE ME',
  'IBPS PO',
  'L&T',
  'NDA',
  'NIC Technical Assistant A',
  'PNRD Assam',
  'REET',
  'RRB JE',
  'RRB NTPC',
  'RRB Office Assistant',
  'RRC Group D',
  'Rajasthan Police Constable',
  'SBI Clerk',
  'SBI SO',
  'SSC CGL',
  'SSC CHSL',
  'SSC MTS',
  'UP Police Sub Inspector',
  'UPPCS',
  nan},
 {'Banking Exams',
  'Defence Exams',
  'Engineering Recruitment Exams',
  'Other Govt. Exams',
  'Police Exams',
  'Railways Exams',
  'SSC Exams',
  'State Govt. Exams',
  'Teaching Exams',
  nan})

In [8]:
test_submissions

,testId,studentId,marks,correct,wrong,partial,skipped,total_answered,time_taken,created_on
0,dcf403b70447d14bdfc2a922452abddd,15124e459c173f28a53b4863fdb8f6b3,-1.50,0,6,0,4,6,21,0001-01-01T00:00:00Z
1,a82e3ddc77d28b3ef773e1228dd13d12,15124e459c173f28a53b4863fdb8f6b3,0.50,2,6,0,2,8,11,0001-01-01T00:00:00Z
2,dcf403b70447d14bdfc2a922452abddd,dd3fb5b38d49c87597f46c9e390286de,0.75,1,1,0,8,2,18,0001-01-01T00:00:00Z
3,9396e6f8e26238f13cd803cc3210b5b0,dd3fb5b38d49c87597f46c9e390286de,-0.75,0,3,0,7,3,5,0001-01-01T00:00:00Z
4,88015babd0ce62e05581f9d07c4b5ca9,c883aca5dc77e2bca2042203cf6d4a47,1.00,8,28,0,39,36,127,0001-01-01T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...
3584,f319fe4ad9793e606816d4c8d63e11e4,1eb69d61b10e2b38fa29f8e76bd6366b,-0.50,0,2,0,8,2,280,0001-01-01T00:00:00Z
3585,6c2df961cce975c00f9ea5bc2a6f1541,50f05e7d9850eb6de4d5ac7d8b2f13db,7.75,9,5,0,1,14,899,0001-01-01T00:00:00Z
3586,d69b0356bc7debee569266657afe62f3,50f05e7d9850eb6de4d5ac7d8b2f13db,4.00,4,0,0,7,4,899,0001-01-01T00:00:00Z
3587,ff80ad0752d8970f20041e2d9cfe649c,50f05e7d9850eb6de4d5ac7d8b2f13db,-0.50,0,1,0,4,1,263,0001-01-01T00:00:00Z
3588,2a3789c4ea686289ee0f62b5d816588b,e3903c17f808f4fdc1722b55b0d91f0c,3.50,4,2,0,4,6,188,0001-01-01T00:00:00Z

In [9]:
test_details.fillna(method='ffill',inplace=True)

In [10]:
test_details.dropna(axis=1,inplace=True)

In [11]:
test_details

,test_id,target___id,target__title__language,target__title__value,target__isPrimary
0,b4ca204631b17b6b486c361872fd2af2,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,True
1,b25b5a4ec5c9ed9cbf8c1b2dbce2e5ec,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,True
2,4f6de001762ca3cb6546de31962ad917,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,True
3,a5509829b0acbc147323aaf75e8ea73e,774732a9be9cd1f7681f7eb699d3bdf8,English,TCS,True
4,7bcbc0211f63141908bd2f0bb44d1bdd,6ac844c11e30c46f4b9583c85653d610,English,L&T,True
...,...,...,...,...,...
1695,dcf403b70447d14bdfc2a922452abddd,5c40422667cfdc719fe3f4d48130b34f,Hindi,SSC MTS,True
1696,bb736359eb195591d55e2c98b21b232a,5c40422667cfdc719fe3f4d48130b34f,Hindi,SSC MTS,True
1697,bb736359eb195591d55e2c98b21b232a,5c40422667cfdc719fe3f4d48130b34f,Hindi,SSC MTS,True
1698,bb736359eb195591d55e2c98b21b232a,5c40422667cfdc719fe3f4d48130b34f,Hindi,SSC MTS,True
1699,bb736359eb195591d55e2c98b21b232a,5c40422667cfdc719fe3f4d48130b34f,Hindi,SSC MTS,True

In [12]:
merge1 = pd.merge(test_details,test_submissions,left_on='test_id',right_on='testId',how='left')

In [13]:
merge1.shape

(7842, 15)

In [ ]:
c=0
for i,j in zip(merge1['target___id'],students['targets/0/_id']):
    if(i == j):
        c=c+1

In [14]:
merge2 = pd.merge(merge1,students,left_on='target___id',right_on='targets/0/_id',how='right')

In [15]:
merge2.fillna(method = 'ffill',inplace=True)

In [16]:
merge2.shape

(2212758, 23)

In [ ]:
#merge2.to_csv('E:/combinedata/final_merge.csv',index=False)

In [2]:
data = pd.read_csv('E:/combinedata/final_merge.csv')

In [3]:
data.drop('target__title__value',axis=1,inplace=True)

In [4]:
data.drop('created_on',axis=1,inplace=True)

In [5]:
data.drop('testId',axis=1,inplace=True)

In [6]:
data

,test_id,target___id,target__title__language,target__isPrimary,studentId,marks,correct,wrong,partial,skipped,total_answered,time_taken,sid,targets/0/_id,targets/0/title/0/language,targets/0/title/0/value,targets/0/title/1/language,target_super_groups/0/_id,target_super_groups/0/title/0/language,target_super_groups/0/title/0/value
0,b4ca204631b17b6b486c361872fd2af2,ce93e65e281ffed2347769d363c25b70,English,True,cb82234710c739fb613ac3f71dc39ec2,8.09,17.0,27.0,0.0,25.0,44.0,676.0,71c8033140f6c48f1a8e32a52f820657,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,Hindi,c8acba07d96aadffb85deafafb4ff607,English,Other Govt. Exams
1,b4ca204631b17b6b486c361872fd2af2,ce93e65e281ffed2347769d363c25b70,English,True,b5b12c048739098eac0199804b75493b,0.05,5.0,15.0,0.0,1.0,20.0,228.0,71c8033140f6c48f1a8e32a52f820657,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,Hindi,c8acba07d96aadffb85deafafb4ff607,English,Other Govt. Exams
2,b4ca204631b17b6b486c361872fd2af2,ce93e65e281ffed2347769d363c25b70,English,True,1e7166c3058ab86972ed392bcdc94446,9.06,15.0,18.0,0.0,67.0,33.0,471.0,71c8033140f6c48f1a8e32a52f820657,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,Hindi,c8acba07d96aadffb85deafafb4ff607,English,Other Govt. Exams
3,b4ca204631b17b6b486c361872fd2af2,ce93e65e281ffed2347769d363c25b70,English,True,995db7fcf9748d6bbc0b99eff8b51ae0,31.40,38.0,20.0,0.0,29.0,58.0,5444.0,71c8033140f6c48f1a8e32a52f820657,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,Hindi,c8acba07d96aadffb85deafafb4ff607,English,Other Govt. Exams
4,b4ca204631b17b6b486c361872fd2af2,ce93e65e281ffed2347769d363c25b70,English,True,21921697b78c678881ab1449fe9f4464,28.04,32.0,12.0,0.0,56.0,44.0,824.0,71c8033140f6c48f1a8e32a52f820657,ce93e65e281ffed2347769d363c25b70,English,RRB NTPC,Hindi,c8acba07d96aadffb85deafafb4ff607,English,Other Govt. Exams
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212753,3b43bf8c19554886541e29a387727a07,ddb1ea775d3fb3576b19b053a8cb3a0a,English,True,395a5d63e1a80a33c761bdf253fc4ffd,7.50,24.0,50.0,0.0,26.0,74.0,2125.0,8d5ff84f1616ef675bd2f9b015e1b6ea,bc33d0210416f4bfde5583104f9eb753,English,GATE IN,Hindi,7c070251217c2bd79a08421d94e1fd37,English,Teaching Exams
2212754,3b43bf8c19554886541e29a387727a07,ddb1ea775d3fb3576b19b053a8cb3a0a,English,True,395a5d63e1a80a33c761bdf253fc4ffd,7.50,24.0,50.0,0.0,26.0,74.0,2125.0,e19775f09b9880bc8389f9be06301c38,bc33d0210416f4bfde5583104f9eb753,English,GATE IN,Hindi,7c070251217c2bd79a08421d94e1fd37,English,Teaching Exams
2212755,3b43bf8c19554886541e29a387727a07,ddb1ea775d3fb3576b19b053a8cb3a0a,English,True,395a5d63e1a80a33c761bdf253fc4ffd,7.50,24.0,50.0,0.0,26.0,74.0,2125.0,1bfd4bd47956158601de47769319a9fc,bc33d0210416f4bfde5583104f9eb753,English,GATE IN,Hindi,7c070251217c2bd79a08421d94e1fd37,English,Teaching Exams
2212756,3b43bf8c19554886541e29a387727a07,ddb1ea775d3fb3576b19b053a8cb3a0a,English,True,395a5d63e1a80a33c761bdf253fc4ffd,7.50,24.0,50.0,0.0,26.0,74.0,2125.0,a7380bb22c5b47ecf581e3d0228f37a7,bc33d0210416f4bfde5583104f9eb753,English,GATE IN,Hindi,7c070251217c2bd79a08421d94e1fd37,English,Teaching Exams
2212757,3b43bf8c19554886541e29a387727a07,ddb1ea775d3fb3576b19b053a8cb3a0a,English,True,395a5d63e1a80a33c761bdf253fc4ffd,7.50,24.0,50.0,0.0,26.0,74.0,2125.0,b4e4b5e0a41ad29e5035fc93a3bbee7b,bc33d0210416f4bfde5583104f9eb753,English,GATE IN,Hindi,7c070251217c2bd79a08421d94e1fd37,English,Teaching Exams

In [262]:
list_avg_score = [2.75, 7.5, 4.9, 7.5, 10.36, 10.94, 7.5, 12.5, 490.37, 19.22, 6.08, 11.79, 3.36, 7.5, 2.06, 8.5, 7.8, 7.4, 2.04, 5.73, 7.5, 7.5, 24.0, 4.67, 3.72, 3.98, 0.85, 2.5, 5.5]

In [263]:
Dict={}

In [264]:
for i in range(len(list_avg_score)):
    Dict[i]=list_avg_score[i]

In [266]:
len(Dict),len(list_avg_score)

(29, 29)

In [7]:
print(list(set(data['targets/0/title/0/value'])),end=" ")

['L&T', 'SSC CGL', 'UPPCS', 'NIC Technical Assistant A', 'GATE ME', 'NDA', 'RRB JE', 'IBPS PO', 'Rajasthan Police Constable', 'REET', 'SBI Clerk', 'UP Police Sub Inspector', 'Bank of Maharastra Clerk', 'SSC CHSL', 'PNRD Assam', 'AMCAT', 'RRC Group D', 'GATE IN', 'Delhi Forest Guard', 'SBI SO', 'RRB NTPC', 'Bihar Police SI', 'SSC MTS', 'EPFO Assistant', 'RRB Office Assistant', 'Airforce Group X', 'Delhi Police Constable', 'Airforce Group Y', 'CTET']

In [8]:
print(list(set(data['target_super_groups/0/title/0/value'])),end=" " )

['Railways Exams', 'Police Exams', 'Banking Exams', 'Engineering Recruitment Exams', 'Other Govt. Exams', 'State Govt. Exams', 'SSC Exams', 'Teaching Exams', 'Defence Exams']

In [9]:
list_target= list(set(data['targets/0/title/0/value']))

In [10]:
########## filteration start##############

In [11]:
filt1 = (data['targets/0/title/0/value'] == 'CTET')

In [12]:
n_d_tet = data.loc[filt1,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [13]:
n_d_tet['elegible_check'] = (n_d_tet['marks'] >= np.mean(n_d_tet['marks']))

In [14]:
max_m = max(n_d_tet['marks'])
min_m = min(n_d_tet['marks'])
avg_m = np.mean(n_d_tet['marks'])
max_m,min_m,avg_m

(8.0, 0.0, 2.75)

In [15]:
ctet_performance_class=[]

In [16]:
for i in n_d_tet['marks']:
    if(i>=min_m and i<=avg_m):
        ctet_performance_class.append(0)
    else:
        ctet_performance_class.append(1)

In [17]:
cols = pd.DataFrame(ctet_performance_class,columns=['class'],index=n_d_tet.index)

In [18]:
n_d_tet = pd.concat([n_d_tet,cols],axis=1)

In [19]:
n_d_tet.head()

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
1908658,d48694e44242cef14759e0d8e41f569f,1.0,1.0,2.0,0.0,7.0,3.0,CTET,Teaching Exams,False,0
1908659,d48694e44242cef14759e0d8e41f569f,3.0,3.0,7.0,0.0,0.0,10.0,CTET,Teaching Exams,True,1
1908660,d48694e44242cef14759e0d8e41f569f,1.0,1.0,9.0,0.0,0.0,10.0,CTET,Teaching Exams,False,0
1908661,d48694e44242cef14759e0d8e41f569f,6.0,6.0,4.0,0.0,0.0,10.0,CTET,Teaching Exams,True,1
1908662,d48694e44242cef14759e0d8e41f569f,1.0,1.0,9.0,0.0,0.0,10.0,CTET,Teaching Exams,False,0

In [267]:
dict_tet={}

In [272]:
for i,j in zip(n_d_tet['sid'],n_d_tet['marks']):
    list_save=[]
    for k in range(len(Dict)):
        for l in  range(len(list_avg_score)):
            if(j>=Dict[k] and j>=list_avg_score[l]):
                list_save.append(k)
    dict_tet.update({str(i):list_save})

In [273]:
dict_tet

{'d48694e44242cef14759e0d8e41f569f': [],
 'b871f0f5cc8cec8486cfe0a5d730c600': [],
 'eb560714057a8d198b325e56f1e5c901': [],
 '191dd8561a50140348b9c8898c308ac2': [],
 '8f93c308c03581dfdd5294b02999ede3': [],
 '2fe4b9612e080d1fda963f8e77e1cfbc': [],
 'e1b2ba16e83fa768be324c28dde749d9': [],
 'bc8ed8e1ae51d097f1718921660b1f92': [],
 '7a1fbf40a13961e25722849ed6f2bd70': [],
 'b10bb781d2b1a79d77f938d7505bc40a': [],
 '5e2f4f4bb1c27cb6612070699f17f001': [],
 '8851d671ab87694014dc7d01420fa4af': [],
 '973ab4b086b0a5d0273a970c3d4f65f9': [],
 '64c24a32c179c983549dacecf64f6087': [],
 '602b34f2ded150a77283f1c55a7e7a7b': [],
 '521bb66e215d378eeb315785935c4e78': [],
 'e2e06eb0a57c1a2329ddbba010dfb4a6': [],
 'c9348656856c94f67cec342e8cba3403': [],
 '8d97ab5d42111e80c5b1942c5efba3f5': [],
 'fe7f749bae4fba6efed6fb8cf50644fe': [],
 'a79d0f218b7d807dbb0b0df9915d6327': [],
 '5a8a60587c8fad53bed1f439a97c3850': [],
 '88eaf4fc35d8c1040ceaf7f4f117cc17': [],
 '835f387d2d4dc29500837bd19afef3a0': [],
 '9c111cf8a1954f9fce354a451d29a955': [],
 'bf6f0138f3e37d15d199a23e6f0b801f': [],
 '38e3afad784de5e6d3d6965aaf686723': [],
 '4540a40cb2aa36585ee67b425740c918': [],
 '77857ba53e01e353b706ce3119da3730': [],
 'f82fba81ff52f76f105c58a1dbaa8e49': [],
 '5cdbfb5dea7b4c6f22a5b46374a97a86': [],
 'a824b512b60536531d042eb07dd0bf90': [],
 '692c9a4913e80aaafd70a9953aea3152': [],
 '9928ae4fe85128a44f913996c10a5f27': [],
 '3a8fd22b25f6f6879e6f71655b3e8f28': [],
 '785fd872106f487fca320781b89100c4': [],
 'e41b33f4176fa1bc4b6a28807a7db97b': [],
 '16431f240981d6d6f38036485055e0d1': [],
 '1cd280c5b65c6dd866cf248e2638bdb1': [],
 '3f715f0983092bcfc4b6d6dcb687777c': [],
 '4bac933c678cd900e5475d705f9890eb': [],
 '0ab17102fcc16ea0868b792f5b2050d6': [],
 'ac7466da92697c8e0cbdd75c95748b93': [],
 'eeb754c10def18c61529ec7ec19103fe': [],
 '003cf4812e6f2dc942bef8c93c6fce31': [],
 '0301c86eb2879dd0aa2e96f881df8b60': [],
 '3a3d6252c9110901e25128d0eb31053e': [],
 '11e0da9b2980a98307d27e14eb4fba83': []}

In [20]:
filt2 = (data['targets/0/title/0/value'] == 'Delhi Forest Guard')
n_d_dfg = data.loc[filt2,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [21]:
n_d_dfg['elegible_check'] = n_d_dfg['marks']>=(np.mean(n_d_dfg['marks']))

In [22]:
max_dfg = max(n_d_dfg['marks'])
min_dfg = min(n_d_dfg['marks'])
avg_dfg = np.mean(n_d_dfg['marks'])/2
max_dfg,min_dfg,avg_dfg

(7.5, 7.5, 3.75)

In [23]:
list_dfg=[]
for i in n_d_dfg['marks']:
    if(i>=min_dfg and i<=avg_dfg):
        list_dfg.append(0)
    else:
        list_dfg.append(1)

In [24]:
class_dfg = pd.DataFrame(list_dfg,columns=['class'],index=n_d_dfg.index)

In [25]:
n_d_dfg = pd.concat([n_d_dfg,class_dfg],axis=1)

In [26]:
n_d_dfg.head()

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
2212359,e20c5d24f1b3aa24e93ffcd0a26609da,7.5,24.0,50.0,0.0,26.0,74.0,Delhi Forest Guard,SSC Exams,True,1
2212360,0b70a52210a14a37aae6c24f1d525636,7.5,24.0,50.0,0.0,26.0,74.0,Delhi Forest Guard,SSC Exams,True,1
2212361,4b7052d81472e6b7aa3992814e3da7b2,7.5,24.0,50.0,0.0,26.0,74.0,Delhi Forest Guard,SSC Exams,True,1
2212362,c673f4cc34f6e8e7e24ef927f2a190ce,7.5,24.0,50.0,0.0,26.0,74.0,Delhi Forest Guard,SSC Exams,True,1
2212363,7b6d7a85a452d2ce5531cd382ed32ab8,7.5,24.0,50.0,0.0,26.0,74.0,Delhi Forest Guard,SSC Exams,True,1

In [27]:
filt3 = (data['targets/0/title/0/value'] == 'Rajasthan Police Constable')
n_d_rpc = data.loc[filt3,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [28]:
n_d_rpc['elegible_check'] = n_d_rpc['marks']>=np.mean(n_d_rpc['marks'])

In [29]:
max_rpc = max(n_d_rpc['marks'])
min_rpc = min(n_d_rpc['marks'])
avg_rpc = np.mean(n_d_rpc['marks'])
list_rpc = []

In [30]:
max_rpc,min_rpc,avg_rpc,n_d_rpc.shape

(36.375, -0.125, 4.96875, (5208, 10))

In [31]:
for i in n_d_rpc['marks']:
    if(i>=min_rpc and i<=avg_rpc):
        list_rpc.append(0)
    else:
        list_rpc.append(1)

In [32]:
class_rpc = pd.DataFrame(list_rpc,columns=['class'],index =n_d_rpc.index)

In [33]:
n_d_rpc = pd.concat([n_d_rpc,class_rpc],axis=1)

In [34]:
n_d_rpc

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
1913266,f0cb15004a7d465a5e2799c404b6801e,-0.125,0.0,1.0,0.0,12.0,1.0,Rajasthan Police Constable,Police Exams,False,0
1913267,f0cb15004a7d465a5e2799c404b6801e,36.375,78.0,21.0,0.0,51.0,99.0,Rajasthan Police Constable,Police Exams,True,1
1913268,f0cb15004a7d465a5e2799c404b6801e,17.625,46.0,43.0,0.0,61.0,89.0,Rajasthan Police Constable,Police Exams,True,1
1913269,f0cb15004a7d465a5e2799c404b6801e,6.875,41.0,109.0,0.0,0.0,150.0,Rajasthan Police Constable,Police Exams,True,1
1913270,f0cb15004a7d465a5e2799c404b6801e,15.000,40.0,40.0,0.0,11.0,80.0,Rajasthan Police Constable,Police Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
1918469,d971802bfba475fbcfdc4080c14c5669,2.500,6.0,4.0,0.0,0.0,10.0,Rajasthan Police Constable,SSC Exams,False,0
1918470,d971802bfba475fbcfdc4080c14c5669,5.000,10.0,0.0,0.0,0.0,10.0,Rajasthan Police Constable,SSC Exams,True,1
1918471,d971802bfba475fbcfdc4080c14c5669,1.250,4.0,6.0,0.0,0.0,10.0,Rajasthan Police Constable,SSC Exams,False,0
1918472,d971802bfba475fbcfdc4080c14c5669,2.375,5.0,1.0,0.0,4.0,6.0,Rajasthan Police Constable,SSC Exams,False,0
1918473,d971802bfba475fbcfdc4080c14c5669,1.625,4.0,3.0,0.0,3.0,7.0,Rajasthan Police Constable,SSC Exams,False,0

In [35]:
filt4 = (data['targets/0/title/0/value'] == 'GATE IN')
n_d_gin = data.loc[filt4,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [36]:
max_gin = max(n_d_gin['marks'])
min_gin = min(n_d_gin['marks'])
avg_gin = np.mean(n_d_gin['marks'])
max_gin,min_gin,avg_gin
list_gin=[]
print(max_gin,min_gin,avg_gin,n_d_gin.shape)

7.5 7.5 7.5 (85, 9)

In [37]:
n_d_gin['elegible_check'] = n_d_gin['marks']>=n_d_gin['marks']

In [38]:
for i in n_d_gin['marks']:
    if(i>=min_gin and i<=avg_gin):
        list_gin.append(1)
    else:
        list_gin.append(0)

In [39]:
class_gin = pd.DataFrame(list_gin,columns=['class'],index = n_d_gin.index)

In [40]:
n_d_gin = pd.concat([n_d_gin,class_gin],axis=1)

In [41]:
n_d_gin

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
2212673,d34c592d13294a1b4d499488b26a2873,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212674,557f5a54b8b12ac185e0dc9a61a7ba17,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212675,9d093f40e26d8c946a4e4acd56a4a046,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212676,5a68d2ca9fd71d23f373f21ba5729662,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212677,7a0545bcc8b4922bcd4603a4a901f6dc,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2212753,8d5ff84f1616ef675bd2f9b015e1b6ea,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212754,e19775f09b9880bc8389f9be06301c38,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212755,1bfd4bd47956158601de47769319a9fc,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212756,a7380bb22c5b47ecf581e3d0228f37a7,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1
2212757,b4e4b5e0a41ad29e5035fc93a3bbee7b,7.5,24.0,50.0,0.0,26.0,74.0,GATE IN,Teaching Exams,True,1

In [42]:
filt5 = (data['targets/0/title/0/value'] == 'NDA')
n_d_nda = data.loc[filt5,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [43]:
max_nda = max(n_d_nda['marks'])
min_nda = min(n_d_nda['marks'])
avg_nda = np.mean(n_d_nda['marks'])
list_nda=[]
print(max_nda,min_nda,avg_nda,n_d_nda.shape)

189.176 -28.53 10.36756848341214 (5064, 9)

In [44]:
n_d_nda['elegible_check'] = n_d_nda['marks']>=np.mean(n_d_nda['marks'])

In [45]:
for i in n_d_nda['marks']:
    if(i>=min_nda and i<=avg_nda):
        list_nda.append(0)
    else:
        list_nda.append(1)

In [46]:
class_nda = pd.DataFrame(list_nda,columns=['class'],index = n_d_nda.index)

In [47]:
n_d_nda = pd.concat([n_d_nda,class_nda],axis=1)

In [48]:
n_d_nda

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
1918474,1d69fa5c9e91081dddb362548ec87c24,2.70,4.0,10.0,0.0,1.0,14.0,NDA,Engineering Recruitment Exams,False,0
1918475,1d69fa5c9e91081dddb362548ec87c24,9.36,5.0,8.0,0.0,2.0,13.0,NDA,Engineering Recruitment Exams,False,0
1918476,1d69fa5c9e91081dddb362548ec87c24,12.02,5.0,6.0,0.0,4.0,11.0,NDA,Engineering Recruitment Exams,True,1
1918477,1d69fa5c9e91081dddb362548ec87c24,6.70,5.0,10.0,0.0,0.0,15.0,NDA,Engineering Recruitment Exams,False,0
1918478,1d69fa5c9e91081dddb362548ec87c24,2.70,4.0,10.0,0.0,1.0,14.0,NDA,Engineering Recruitment Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
1923533,dcd581cd437cec0c6fda2e2adc0f98e3,0.00,0.0,0.0,0.0,54.0,0.0,NDA,Engineering Recruitment Exams,False,0
1923534,dcd581cd437cec0c6fda2e2adc0f98e3,44.73,20.0,19.0,0.0,15.0,39.0,NDA,Engineering Recruitment Exams,True,1
1923535,dcd581cd437cec0c6fda2e2adc0f98e3,0.00,0.0,0.0,0.0,54.0,0.0,NDA,Engineering Recruitment Exams,False,0
1923536,dcd581cd437cec0c6fda2e2adc0f98e3,0.00,0.0,0.0,0.0,54.0,0.0,NDA,Engineering Recruitment Exams,False,0
1923537,dcd581cd437cec0c6fda2e2adc0f98e3,-1.33,0.0,1.0,0.0,53.0,1.0,NDA,Engineering Recruitment Exams,False,0

In [49]:
filt6 = (data['targets/0/title/0/value'] == 'RRB Office Assistant')
n_d_rrb_o = data.loc[filt6,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [50]:
max_rrb = max(n_d_rrb_o['marks'])
min_rrb = min(n_d_rrb_o['marks'])
avg_rrb = np.mean(n_d_rrb_o['marks'])
list_rrb=[]
print(max_rrb,min_rrb,avg_rrb,n_d_rrb_o.shape)

76.75 -1.75 10.943693693693694 (15651, 9)

In [51]:
n_d_rrb_o['elegible_check']=n_d_rrb_o['marks']>=np.mean(n_d_rrb_o['marks'])

In [52]:
for i in n_d_rrb_o['marks']:
    if(i>=min_rrb and i<=avg_rrb):
        list_rrb.append(0)
    else:
        list_rrb.append(1)

In [53]:
class_rrb_o = pd.DataFrame(list_rrb,columns=['class'],index = n_d_rrb_o.index)

In [54]:
n_d_rrb_o = pd.concat([n_d_rrb_o,class_rrb_o],axis=1)

In [55]:
n_d_rrb_o

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
1938226,2690bafe9e454371651f3e6816779068,43.50,47.0,14.0,0.0,15.0,61.0,RRB Office Assistant,Police Exams,True,1
1938227,2690bafe9e454371651f3e6816779068,31.00,32.0,4.0,0.0,2.0,36.0,RRB Office Assistant,Police Exams,True,1
1938228,2690bafe9e454371651f3e6816779068,69.75,71.0,5.0,0.0,4.0,76.0,RRB Office Assistant,Police Exams,True,1
1938229,2690bafe9e454371651f3e6816779068,69.25,70.0,3.0,0.0,7.0,73.0,RRB Office Assistant,Police Exams,True,1
1938230,2690bafe9e454371651f3e6816779068,66.25,67.0,3.0,0.0,4.0,70.0,RRB Office Assistant,Police Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
1953872,8ed17ec698146644ad8521fc4b5c2ff0,0.00,0.0,0.0,0.0,10.0,0.0,RRB Office Assistant,State Govt. Exams,False,0
1953873,8ed17ec698146644ad8521fc4b5c2ff0,0.75,1.0,1.0,0.0,8.0,2.0,RRB Office Assistant,State Govt. Exams,False,0
1953874,8ed17ec698146644ad8521fc4b5c2ff0,5.00,5.0,0.0,0.0,5.0,5.0,RRB Office Assistant,State Govt. Exams,False,0
1953875,8ed17ec698146644ad8521fc4b5c2ff0,2.50,4.0,6.0,0.0,0.0,10.0,RRB Office Assistant,State Govt. Exams,False,0
1953876,8ed17ec698146644ad8521fc4b5c2ff0,0.00,0.0,0.0,0.0,10.0,0.0,RRB Office Assistant,State Govt. Exams,False,0

In [56]:
filt7 = (data['targets/0/title/0/value'] == 'EPFO Assistant')
n_d_epfo = data.loc[filt7,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [57]:
max_epfo = max(n_d_epfo['marks'])
min_epfo = min(n_d_epfo['marks'])
avg_epfo = np.mean(n_d_epfo['marks'])
list_epfo=[]
print(max_epfo,min_epfo,avg_epfo,n_d_epfo.shape)

7.5 7.5 7.5 (20, 9)

In [58]:
n_d_epfo['elegible_check'] = n_d_epfo['marks']>=np.mean(n_d_epfo['marks'])

In [59]:
for i in n_d_epfo['marks']:
    if(i == min_epfo and i == avg_epfo):
        list_epfo.append(1)
    else:
        list_epfo.append(0)

In [60]:
class_epfo = pd.DataFrame(list_epfo,columns=['class'],index = n_d_epfo.index)

In [61]:
n_d_epfo = pd.concat([n_d_epfo,class_epfo],axis=1)

In [62]:
n_d_epfo

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
2211780,bd78735ca98ae7fe76c3b760d2173f5e,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211781,9909de6bbce4070de57dc5663f48b30a,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211782,a44a272af716814e0891d1e301e12bde,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211783,5137ac3f0a97dd2fd7bc1ebe3da78c9b,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211784,9a216cc3eed6955989094e7a2cdcfd2b,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211785,2807fb8b2c94a8b5be735c9082283173,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211786,891005cd3418c34dd3f0034801cdbbd7,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211787,0bd5016b2de22acd1f9c51ec9f8871cb,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211788,344a484561d20d0c4deb5b25a28df8ed,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211789,0c3849322b7fbf17419728997be0b58f,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211790,30c04a15ff05b7650e335a062cb284a4,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211791,4a973388d67a36e8f35fbc2460e62f46,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211792,533c15ea80a06ba4aa8aa7c9826c72da,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211793,c94a9cf2e1cb4bbf9efcd9a9d2a57e77,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211794,1ee8de5f7aad79481cf44cdb829768a4,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211795,5dc16e86bfd1040731c22f00b7d674f3,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211796,907b25536693d4078e384010749c4475,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211797,07bdef8172abf1b3d3297fd5ab63c17c,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211798,5ac16a6fc8750702af3e57b9a824e33d,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1
2211799,18f1120a9d4a8ddb0cdf22ac3734a48c,7.5,24.0,50.0,0.0,26.0,74.0,EPFO Assistant,SSC Exams,True,1

In [63]:
filt8 = (data['targets/0/title/0/value'] == 'SSC CHSL')
n_d_ssc_chsl = data.loc[filt8,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [64]:
max_ssc_chsl = max(n_d_ssc_chsl['marks'])
min_ssc_chsl = min(n_d_ssc_chsl['marks'])
avg_ssc_chsl = np.mean(n_d_ssc_chsl['marks'])
list_ssc_chsl = []
print(max_ssc_chsl,min_ssc_chsl,avg_ssc_chsl,n_d_ssc_chsl.shape)

134.5 -2.5 12.5 (23058, 9)

In [65]:
n_d_ssc_chsl['elegible_check'] = n_d_ssc_chsl['marks']>=np.mean(n_d_ssc_chsl['marks'])

In [66]:
for i in n_d_ssc_chsl['marks']:
    if(i>=min_ssc_chsl and i<=avg_ssc_chsl):
        list_ssc_chsl.append(0)
    else:
        list_ssc_chsl.append(1)

In [67]:
class_ssc_chsl = pd.DataFrame(list_ssc_chsl,columns = ['class'],index=n_d_ssc_chsl.index)

In [68]:
n_d_ssc_chsl = pd.concat([n_d_ssc_chsl,class_ssc_chsl],axis=1)

In [69]:
n_d_ssc_chsl

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
1537168,72e67278106dc60c2f02b02c3d82220a,34.5,19.0,7.0,0.0,55.0,26.0,SSC CHSL,SSC Exams,True,1
1537169,72e67278106dc60c2f02b02c3d82220a,4.0,14.0,48.0,0.0,35.0,62.0,SSC CHSL,SSC Exams,False,0
1537170,72e67278106dc60c2f02b02c3d82220a,66.5,44.0,43.0,0.0,13.0,87.0,SSC CHSL,SSC Exams,True,1
1537171,72e67278106dc60c2f02b02c3d82220a,88.0,49.0,20.0,0.0,31.0,69.0,SSC CHSL,SSC Exams,True,1
1537172,72e67278106dc60c2f02b02c3d82220a,49.0,32.0,30.0,0.0,37.0,62.0,SSC CHSL,SSC Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
1560221,fae7b200f2b1bc099123cda86dfecc05,3.0,2.0,2.0,0.0,6.0,4.0,SSC CHSL,State Govt. Exams,False,0
1560222,fae7b200f2b1bc099123cda86dfecc05,-2.5,1.0,9.0,0.0,0.0,10.0,SSC CHSL,State Govt. Exams,False,0
1560223,fae7b200f2b1bc099123cda86dfecc05,3.0,3.0,6.0,0.0,1.0,9.0,SSC CHSL,State Govt. Exams,False,0
1560224,fae7b200f2b1bc099123cda86dfecc05,0.0,2.0,8.0,0.0,0.0,10.0,SSC CHSL,State Govt. Exams,False,0
1560225,fae7b200f2b1bc099123cda86dfecc05,2.5,3.0,7.0,0.0,0.0,10.0,SSC CHSL,State Govt. Exams,False,0

In [70]:
filt9 = (data['targets/0/title/0/value'] == 'AMCAT')
n_d_amcat = data.loc[filt9,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [71]:
max_am = max(n_d_amcat['marks'])
min_am = min(n_d_amcat['marks'])
avg_am = np.mean(n_d_amcat['marks'])
list_am = []
print(max_am,min_am,avg_am,n_d_amcat.shape)

980.0 0.75 490.375 (40, 9)

In [72]:
n_d_amcat['elegible_marks'] = n_d_amcat['marks']>=np.mean(n_d_amcat['marks'])

In [73]:
for i in n_d_amcat['marks']:
    if(i>=min_am and i<=avg_am):
        list_am.append(0)
    else:
        list_am.append(1)

In [74]:
class_am = pd.DataFrame(list_am,columns=['class'],index=n_d_amcat.index)

In [75]:
n_d_amcat = pd.concat([n_d_amcat,class_am],axis=1)

In [76]:
n_d_amcat

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_marks,class
64303,ec8289a5c8ba26a53ff2dd57d0bc16c3,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64304,ec8289a5c8ba26a53ff2dd57d0bc16c3,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64305,df1f75c1fc683f81205251fdb208fcde,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64306,df1f75c1fc683f81205251fdb208fcde,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64307,c3c48be431e0fd7918c86e17ffa31b1b,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64308,c3c48be431e0fd7918c86e17ffa31b1b,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64309,ba3c8dfd0cc1a0df2c20c7169453681e,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64310,ba3c8dfd0cc1a0df2c20c7169453681e,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64311,bc11026dc19a3418be8f0698d3e69dd4,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64312,bc11026dc19a3418be8f0698d3e69dd4,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64313,35ad8d0e8082a9164e17d11d4350fa2c,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64314,35ad8d0e8082a9164e17d11d4350fa2c,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64315,a5422322bb79c40f8932bc46338c40a3,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64316,a5422322bb79c40f8932bc46338c40a3,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64317,7ed5a45ebbb116fd9719374e04443849,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64318,7ed5a45ebbb116fd9719374e04443849,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64319,99c36b55c5a22936f4c3f78a8dc55219,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64320,99c36b55c5a22936f4c3f78a8dc55219,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64321,2c3fbcc67eb267a3135d8012874c5216,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64322,2c3fbcc67eb267a3135d8012874c5216,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64323,f9c35a6c1fbbccbabcf93d06dec75c1c,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64324,f9c35a6c1fbbccbabcf93d06dec75c1c,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64325,1d164dd848ec72120c0a3e53f4408156,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64326,1d164dd848ec72120c0a3e53f4408156,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64327,121379e0b33a60292469ae0a81752882,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64328,121379e0b33a60292469ae0a81752882,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64329,a19c92e7a6c5563fb4d5cdba4695d8f1,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64330,a19c92e7a6c5563fb4d5cdba4695d8f1,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64331,293c312e54703638182a5ac89797d967,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64332,293c312e54703638182a5ac89797d967,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64333,28da76d67f794f7228d4960b24de3935,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64334,28da76d67f794f7228d4960b24de3935,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64335,3f835fc58418d5add6ee1f2faf59d007,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64336,3f835fc58418d5add6ee1f2faf59d007,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64337,bcb215d0f188ec9955cd780c71712e32,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,SSC Exams,True,1
64338,bcb215d0f188ec9955cd780c71712e32,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,SSC Exams,False,0
64339,b4a857e461cf4f9a9ffc9cdf5bd6ea5c,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,Railways Exams,True,1
64340,b4a857e461cf4f9a9ffc9cdf5bd6ea5c,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,Railways Exams,False,0
64341,77fe15635f90d5b2c92f8ff95581cd47,980.00,16.0,13.0,0.0,1.0,29.0,AMCAT,Railways Exams,True,1
64342,77fe15635f90d5b2c92f8ff95581cd47,0.75,4.0,13.0,0.0,1.0,17.0,AMCAT,Railways Exams,False,0

In [77]:
filt10 = (data['targets/0/title/0/value'] == 'Bihar Police SI')
n_d_bpsi = data.loc[filt10,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [78]:
max_bpsi = max(n_d_bpsi['marks'])
min_bpsi = min(n_d_bpsi['marks'])
avg_bpsi = np.mean(n_d_bpsi['marks'])
list_bpsi=[]
print(max_bpsi,min_bpsi,avg_bpsi,n_d_bpsi.shape)

118.6 -0.8 19.222950819672413 (14213, 9)

In [79]:
n_d_bpsi['check_elegible'] = n_d_bpsi['marks']>=np.mean(n_d_bpsi['marks'])

In [80]:
for i in n_d_bpsi['marks']:
    if(i>=min_bpsi and i<=avg_bpsi):
        list_bpsi.append(0)
    else:
        list_bpsi.append(1)

In [81]:
class_bpsi = pd.DataFrame(list_bpsi,columns=['class'],index =n_d_bpsi.index)

In [82]:
n_d_bpsi = pd.concat([n_d_bpsi,class_bpsi],axis=1)

In [83]:
n_d_bpsi

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
936887,230b579fda8289cbd0058ddcb2b486f7,61.4,37.0,63.0,0.0,0.0,100.0,Bihar Police SI,State Govt. Exams,True,1
936888,230b579fda8289cbd0058ddcb2b486f7,39.0,23.0,35.0,0.0,42.0,58.0,Bihar Police SI,State Govt. Exams,True,1
936889,230b579fda8289cbd0058ddcb2b486f7,18.8,10.0,6.0,0.0,22.0,16.0,Bihar Police SI,State Govt. Exams,False,0
936890,230b579fda8289cbd0058ddcb2b486f7,19.4,11.0,13.0,0.0,76.0,24.0,Bihar Police SI,State Govt. Exams,True,1
936891,230b579fda8289cbd0058ddcb2b486f7,7.0,6.0,25.0,0.0,1.0,31.0,Bihar Police SI,State Govt. Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
951095,76335749935e7288d1850fd287ef7889,5.8,4.0,11.0,0.0,0.0,15.0,Bihar Police SI,Railways Exams,False,0
951096,76335749935e7288d1850fd287ef7889,11.2,6.0,4.0,0.0,5.0,10.0,Bihar Police SI,Railways Exams,False,0
951097,76335749935e7288d1850fd287ef7889,3.0,2.0,5.0,0.0,8.0,7.0,Bihar Police SI,Railways Exams,False,0
951098,76335749935e7288d1850fd287ef7889,-0.8,1.0,14.0,0.0,0.0,15.0,Bihar Police SI,Railways Exams,False,0
951099,76335749935e7288d1850fd287ef7889,8.0,5.0,10.0,0.0,0.0,15.0,Bihar Police SI,Railways Exams,False,0

In [84]:
filt11 = (data['targets/0/title/0/value'] == 'SSC CGL')
n_d_ssc_cgl = data.loc[filt11,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [85]:
max_ssc_cgl = max(n_d_ssc_cgl['marks'])
min_ssc_cgl = min(n_d_ssc_cgl['marks'])
avg_ssc_cgl = np.mean(n_d_ssc_cgl['marks'])
list_ssc_cgl = []
print(max_ssc_cgl,min_ssc_cgl,avg_ssc_cgl,n_d_ssc_cgl.shape)

118.0 -4.5 6.086678832116788 (741444, 9)

In [86]:
n_d_ssc_cgl['elegible_check'] = n_d_ssc_cgl['marks']>=np.mean(n_d_ssc_cgl['marks'])

In [87]:
for i in n_d_ssc_cgl['marks']:
    if(i>=min_ssc_cgl and i<=avg_ssc_cgl):
        list_ssc_cgl.append(0)
    else:
        list_ssc_cgl.append(1)

In [88]:
class_ssc_cgl = pd.DataFrame(list_ssc_cgl,columns=['class'],index =n_d_ssc_cgl.index)

In [89]:
n_d_ssc_cgl = pd.concat([n_d_ssc_cgl,class_ssc_cgl],axis=1)

In [90]:
n_d_ssc_cgl

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,elegible_check,class
195443,4c2656ac2a2eb9168c5db8617d38e365,9.5,5.0,1.0,0.0,23.0,6.0,SSC CGL,Banking Exams,True,1
195444,4c2656ac2a2eb9168c5db8617d38e365,107.0,56.0,10.0,0.0,34.0,66.0,SSC CGL,Banking Exams,True,1
195445,4c2656ac2a2eb9168c5db8617d38e365,5.5,4.0,5.0,0.0,3.0,9.0,SSC CGL,Banking Exams,False,0
195446,4c2656ac2a2eb9168c5db8617d38e365,3.0,2.0,2.0,0.0,4.0,4.0,SSC CGL,Banking Exams,False,0
195447,4c2656ac2a2eb9168c5db8617d38e365,63.0,35.0,14.0,0.0,51.0,49.0,SSC CGL,Banking Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
936882,e3903c17f808f4fdc1722b55b0d91f0c,5.0,3.0,2.0,0.0,0.0,5.0,SSC CGL,State Govt. Exams,False,0
936883,e3903c17f808f4fdc1722b55b0d91f0c,0.0,0.0,0.0,0.0,5.0,0.0,SSC CGL,State Govt. Exams,False,0
936884,e3903c17f808f4fdc1722b55b0d91f0c,0.0,1.0,4.0,0.0,0.0,5.0,SSC CGL,State Govt. Exams,False,0
936885,e3903c17f808f4fdc1722b55b0d91f0c,0.5,1.0,3.0,0.0,1.0,4.0,SSC CGL,State Govt. Exams,False,0
936886,e3903c17f808f4fdc1722b55b0d91f0c,-0.5,0.0,1.0,0.0,4.0,1.0,SSC CGL,State Govt. Exams,False,0

In [91]:
filt12 = (data['targets/0/title/0/value'] == 'UPPCS')
n_d_uppcs = data.loc[filt12,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [92]:
max_upcs = max(n_d_uppcs['marks'])
min_upsc = min(n_d_uppcs['marks'])
avg_upcs = np.mean(n_d_uppcs['marks'])
list_upcs = []
print(max_upcs,min_upsc,avg_upcs,n_d_uppcs.shape)

95.4 -1.65 11.791764705882358 (204, 9)

In [93]:
n_d_uppcs['check_elegible'] = n_d_uppcs['marks']>=np.mean(n_d_uppcs['marks'])

In [94]:
for i in n_d_uppcs['marks']:
    if(i>=min_upsc and i<=avg_upcs):
        list_upcs.append(0)
    else:
        list_upcs.append(1)

In [95]:
class_upcs = pd.DataFrame(list_upcs,columns=['class'],index =n_d_uppcs.index)

In [96]:
n_d_uppcs = pd.concat([n_d_uppcs,class_upcs],axis=1)

In [97]:
n_d_uppcs

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
1536964,07c54bfa506924ac8c5a4a995cce78f7,31.59,35.0,34.0,0.0,1.0,69.0,UPPCS,State Govt. Exams,True,1
1536965,07c54bfa506924ac8c5a4a995cce78f7,0.45,1.0,2.0,0.0,1.0,3.0,UPPCS,State Govt. Exams,False,0
1536966,07c54bfa506924ac8c5a4a995cce78f7,0.46,2.0,5.0,0.0,0.0,7.0,UPPCS,State Govt. Exams,False,0
1536967,07c54bfa506924ac8c5a4a995cce78f7,36.64,56.0,86.0,0.0,8.0,142.0,UPPCS,State Govt. Exams,True,1
1536968,07c54bfa506924ac8c5a4a995cce78f7,5.33,5.0,3.0,0.0,1.0,8.0,UPPCS,State Govt. Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
1537163,b4d2bc3cc6e4e2065192083d42dd56eb,0.00,0.0,0.0,0.0,5.0,0.0,UPPCS,State Govt. Exams,False,0
1537164,b4d2bc3cc6e4e2065192083d42dd56eb,-0.32,1.0,4.0,0.0,0.0,5.0,UPPCS,State Govt. Exams,False,0
1537165,b4d2bc3cc6e4e2065192083d42dd56eb,0.00,0.0,0.0,0.0,5.0,0.0,UPPCS,State Govt. Exams,False,0
1537166,b4d2bc3cc6e4e2065192083d42dd56eb,1.01,2.0,3.0,0.0,0.0,5.0,UPPCS,State Govt. Exams,False,0
1537167,b4d2bc3cc6e4e2065192083d42dd56eb,1.01,2.0,3.0,0.0,0.0,5.0,UPPCS,State Govt. Exams,False,0

In [98]:
filt13 = (data['targets/0/title/0/value'] == 'SBI Clerk')
n_d_sbi_clerk = data.loc[filt13,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [99]:
max_clrk = max(n_d_sbi_clerk['marks'])
min_clrk = min(n_d_sbi_clerk['marks'])
avg_clrk = np.mean(n_d_sbi_clerk['marks'])
list_clrk=[]
print(max_clrk,min_clrk,avg_clrk,n_d_sbi_clerk.shape)

35.25 -1.75 3.3697604790419162 (1336, 9)

In [100]:
n_d_sbi_clerk['check_elegible'] = n_d_sbi_clerk['marks']>=np.mean(n_d_sbi_clerk['marks'])

In [101]:
for i in n_d_sbi_clerk['marks']:
    if(i>=min_clrk and i<=avg_clrk):
        list_clrk.append(0)
    else:
        list_clrk.append(1)

In [102]:
class_clrk = pd.DataFrame(list_clrk,columns=['class'],index =n_d_sbi_clerk.index)

In [103]:
n_d_sbi_clerk = pd.concat([n_d_sbi_clerk,class_clrk],axis=1)

In [104]:
n_d_sbi_clerk

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
62967,e91851d9757534b65d740bdc454cabf0,20.25,21.0,3.0,0.0,9.0,24.0,SBI Clerk,Police Exams,True,1
62968,e91851d9757534b65d740bdc454cabf0,-0.25,0.0,1.0,0.0,0.0,1.0,SBI Clerk,Police Exams,False,0
62969,e91851d9757534b65d740bdc454cabf0,35.25,40.0,19.0,0.0,79.0,59.0,SBI Clerk,Police Exams,True,1
62970,e91851d9757534b65d740bdc454cabf0,0.50,1.0,2.0,0.0,12.0,3.0,SBI Clerk,Police Exams,False,0
62971,e91851d9757534b65d740bdc454cabf0,1.00,1.0,0.0,0.0,0.0,1.0,SBI Clerk,Police Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
64298,d39a5e40684e5f1603ec8e8fd6d7ad62,2.50,4.0,6.0,0.0,0.0,10.0,SBI Clerk,Police Exams,False,0
64299,d39a5e40684e5f1603ec8e8fd6d7ad62,3.50,4.0,2.0,0.0,3.0,6.0,SBI Clerk,Police Exams,True,1
64300,d39a5e40684e5f1603ec8e8fd6d7ad62,6.75,7.0,1.0,0.0,2.0,8.0,SBI Clerk,Police Exams,True,1
64301,d39a5e40684e5f1603ec8e8fd6d7ad62,7.50,8.0,2.0,0.0,0.0,10.0,SBI Clerk,Police Exams,True,1
64302,d39a5e40684e5f1603ec8e8fd6d7ad62,1.00,1.0,0.0,0.0,9.0,1.0,SBI Clerk,Police Exams,False,0

In [105]:
filt14 = (data['targets/0/title/0/value'] == 'NIC Technical Assistant A')
n_d_nic_t_a = data.loc[filt14,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [106]:
max_nic_ta = max(n_d_nic_t_a['marks'])
min_nic_ta = min(n_d_nic_t_a['marks'])
avg_nic_ta = np.mean(n_d_nic_t_a['marks'])
list_nic_ta=[]
print(max_nic_ta,min_nic_ta,avg_nic_ta,n_d_nic_t_a.shape)

7.5 7.5 7.5 (666, 9)

In [107]:
n_d_nic_t_a['check_elegible'] = n_d_nic_t_a['marks']>=np.mean(n_d_nic_t_a['marks'])

In [108]:
for i in n_d_nic_t_a['marks']:
    if(i==min_nic_ta and i==avg_nic_ta and i == max_nic_ta):
        list_nic_ta.append(1)
    else:
        list_nic_ta.append(0)

In [109]:
class_nic_ta = pd.DataFrame(list_nic_ta,columns=['class'],index =n_d_nic_t_a.index)

In [110]:
n_d_nic_t_a = pd.concat([n_d_nic_t_a,class_nic_ta],axis=1)

In [111]:
n_d_nic_t_a

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2211114,a40449f2d3cb3e4c0c434e4ecd2c1b19,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211115,0cf3039f6d6ffcc8fe17db136acf8b2a,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211116,a08d0236ec59583a4b5788734690712e,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211117,58d948eb6a6b7519fa08fd84a3963136,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211118,79a058c10ca53bed82e4b665a1944fdb,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2211775,0d4efd7398915c1f7c8758504bc1a894,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211776,38875245c8717a7654e004b8c4c1b434,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211777,bc12336cba07284cc1f137f1f29d2862,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211778,d56d86ce5e91a0efb7e4d9a8b3741ca8,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1
2211779,a1f869418382f3b6c70d8b29a888f717,7.5,24.0,50.0,0.0,26.0,74.0,NIC Technical Assistant A,Banking Exams,True,1

In [112]:
filt15 = (data['targets/0/title/0/value'] == 'IBPS PO')
n_d_ibps = data.loc[filt15,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [113]:
max_ibpso = max(n_d_ibps['marks'])
min_ibpso  = min(n_d_ibps['marks'])
avg_ibpso = np.mean(n_d_ibps['marks'])
list_ibpso = []
print(max_ibpso,min_ibpso,avg_ibpso,n_d_ibps.shape)

55.75 -3.75 2.0606796116504853 (585864, 9)

In [114]:
n_d_ibps['check_elegible']=n_d_ibps['marks']>=np.mean(n_d_ibps['marks'])

In [115]:
for i in n_d_ibps['marks']:
    if(i>=min_ibpso and i<=avg_ibpso):
        list_ibpso.append(0)
    else:
        list_ibpso.append(1)

In [116]:
class_ibpso = pd.DataFrame(list_ibpso,columns=['class'],index = n_d_ibps.index)

In [117]:
n_d_ibps = pd.concat([n_d_ibps,class_ibpso],axis=1)

In [118]:
n_d_ibps

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
951100,df7d394748bd8d61230a78252d41b3be,0.00,2.0,8.0,0.0,0.0,10.0,IBPS PO,Police Exams,False,0
951101,df7d394748bd8d61230a78252d41b3be,5.00,6.0,4.0,0.0,1.0,10.0,IBPS PO,Police Exams,True,1
951102,df7d394748bd8d61230a78252d41b3be,-2.50,1.0,14.0,0.0,0.0,15.0,IBPS PO,Police Exams,False,0
951103,df7d394748bd8d61230a78252d41b3be,12.00,12.0,0.0,0.0,3.0,12.0,IBPS PO,Police Exams,True,1
951104,df7d394748bd8d61230a78252d41b3be,-2.50,1.0,14.0,0.0,0.0,15.0,IBPS PO,Police Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
1536959,6b1fe494fa4d617937ab8973ea0942f1,2.50,4.0,6.0,0.0,0.0,10.0,IBPS PO,SSC Exams,True,1
1536960,6b1fe494fa4d617937ab8973ea0942f1,3.50,4.0,2.0,0.0,3.0,6.0,IBPS PO,SSC Exams,True,1
1536961,6b1fe494fa4d617937ab8973ea0942f1,6.75,7.0,1.0,0.0,2.0,8.0,IBPS PO,SSC Exams,True,1
1536962,6b1fe494fa4d617937ab8973ea0942f1,7.50,8.0,2.0,0.0,0.0,10.0,IBPS PO,SSC Exams,True,1
1536963,6b1fe494fa4d617937ab8973ea0942f1,1.00,1.0,0.0,0.0,9.0,1.0,IBPS PO,SSC Exams,False,0

In [119]:
filt16 = (data['targets/0/title/0/value'] == 'RRB NTPC')
n_d_rrb_ntpc = data.loc[filt16,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [120]:
max_ntpc = max(n_d_rrb_ntpc['marks'])
min_ntpc = min(n_d_rrb_ntpc['marks'])
avg_ntpc = np.mean(n_d_rrb_ntpc['marks'])
list_ntpc=[]
print(max_ntpc,min_ntpc,avg_ntpc,n_d_rrb_ntpc.shape)

76.37 -3.75 8.522095808383773 (62959, 9)

In [121]:
n_d_rrb_ntpc['check_elegible'] = n_d_rrb_ntpc['marks']>=np.mean(n_d_rrb_ntpc['marks'])

In [122]:
for i in n_d_rrb_ntpc['marks']:
    if(i>=min_ntpc and i<=avg_ntpc):
        list_ntpc.append(0)
    else:
        list_ntpc.append(1)

In [123]:
class_ntpc = pd.DataFrame(list_ntpc,columns=['class'],index = n_d_rrb_ntpc.index)

In [124]:
n_d_rrb_ntpc = pd.concat([n_d_rrb_ntpc,class_ntpc],axis=1)

In [125]:
n_d_rrb_ntpc

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
0,71c8033140f6c48f1a8e32a52f820657,8.09,17.0,27.0,0.0,25.0,44.0,RRB NTPC,Other Govt. Exams,False,0
1,71c8033140f6c48f1a8e32a52f820657,0.05,5.0,15.0,0.0,1.0,20.0,RRB NTPC,Other Govt. Exams,False,0
2,71c8033140f6c48f1a8e32a52f820657,9.06,15.0,18.0,0.0,67.0,33.0,RRB NTPC,Other Govt. Exams,True,1
3,71c8033140f6c48f1a8e32a52f820657,31.40,38.0,20.0,0.0,29.0,58.0,RRB NTPC,Other Govt. Exams,True,1
4,71c8033140f6c48f1a8e32a52f820657,28.04,32.0,12.0,0.0,56.0,44.0,RRB NTPC,Other Govt. Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
62954,565dfc01ce8f315405e8dff1d4472030,2.02,4.0,6.0,0.0,0.0,10.0,RRB NTPC,State Govt. Exams,False,0
62955,565dfc01ce8f315405e8dff1d4472030,-3.30,0.0,10.0,0.0,0.0,10.0,RRB NTPC,State Govt. Exams,False,0
62956,565dfc01ce8f315405e8dff1d4472030,0.00,0.0,0.0,0.0,10.0,0.0,RRB NTPC,State Govt. Exams,False,0
62957,565dfc01ce8f315405e8dff1d4472030,0.00,0.0,0.0,0.0,10.0,0.0,RRB NTPC,State Govt. Exams,False,0
62958,565dfc01ce8f315405e8dff1d4472030,0.00,0.0,0.0,0.0,10.0,0.0,RRB NTPC,State Govt. Exams,False,0

In [126]:
filt17 = (data['targets/0/title/0/value'] == 'Delhi Police Constable')
n_d_rrb_dpc = data.loc[filt17,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [127]:
max_dpc = max(n_d_rrb_dpc['marks'])
min_dpc = min(n_d_rrb_dpc['marks'])
avg_dpc = np.mean(n_d_rrb_dpc['marks'])
list_dpc=[]
print(max_dpc,min_dpc,avg_dpc,n_d_rrb_dpc.shape)

61.25 -1.25 7.808298319327731 (348432, 9)

In [128]:
n_d_rrb_dpc['check_elegible'] = n_d_rrb_dpc['marks']>=np.mean(n_d_rrb_dpc['marks'])

In [129]:
for i in n_d_rrb_dpc['marks']:
    if(i>=min_dpc and i<=avg_dpc):
        list_dpc.append(0)
    else:
        list_dpc.append(1)

In [130]:
class_dpc = pd.DataFrame(list_dpc,columns=['class'],index = n_d_rrb_dpc.index)

In [131]:
n_d_rrb_dpc = pd.concat([n_d_rrb_dpc,class_dpc],axis=1)

In [132]:
n_d_rrb_dpc

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
1560226,8174c8f78195c29132251aa0a95fa9eb,37.75,43.0,21.0,0.0,22.0,64.0,Delhi Police Constable,Railways Exams,True,1
1560227,8174c8f78195c29132251aa0a95fa9eb,22.25,31.0,35.0,0.0,12.0,66.0,Delhi Police Constable,Railways Exams,True,1
1560228,8174c8f78195c29132251aa0a95fa9eb,15.00,32.0,68.0,0.0,0.0,100.0,Delhi Police Constable,Railways Exams,True,1
1560229,8174c8f78195c29132251aa0a95fa9eb,13.75,31.0,69.0,0.0,0.0,100.0,Delhi Police Constable,Railways Exams,True,1
1560230,8174c8f78195c29132251aa0a95fa9eb,9.50,16.0,26.0,0.0,14.0,42.0,Delhi Police Constable,Railways Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
1908653,5952fe694e0ca9d30b523b497f25af26,6.25,7.0,3.0,0.0,0.0,10.0,Delhi Police Constable,Railways Exams,False,0
1908654,5952fe694e0ca9d30b523b497f25af26,5.00,6.0,4.0,0.0,0.0,10.0,Delhi Police Constable,Railways Exams,False,0
1908655,5952fe694e0ca9d30b523b497f25af26,3.75,4.0,1.0,0.0,5.0,5.0,Delhi Police Constable,Railways Exams,False,0
1908656,5952fe694e0ca9d30b523b497f25af26,3.50,4.0,2.0,0.0,4.0,6.0,Delhi Police Constable,Railways Exams,False,0
1908657,5952fe694e0ca9d30b523b497f25af26,3.75,4.0,1.0,0.0,5.0,5.0,Delhi Police Constable,Railways Exams,False,0

In [133]:
filt18 = (data['targets/0/title/0/value'] == 'RRB JE')
n_d_rrb_je = data.loc[filt18,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [134]:
max_rrbje = max(n_d_rrb_je['marks'])
min_rrbje = min(n_d_rrb_je['marks'])
avg_rrvje = np.mean(n_d_rrb_je['marks'])
list_rrbje = []
print(max_rrbje,min_rrbje,avg_rrvje,n_d_rrb_je.shape)

7.5 7.34 7.42 (8, 9)

In [135]:
n_d_rrb_je['check_elegible'] = n_d_rrb_je['marks']>=np.mean(n_d_rrb_je['marks'])

In [136]:
for i in n_d_rrb_je['marks']:
    if(i>=min_rrbje and i<=avg_rrvje):
        list_rrbje.append(0)
    else:
        list_rrbje.append(1)

In [137]:
class_rrbje = pd.DataFrame(list_rrbje,columns=['class'],index =n_d_rrb_je.index)

In [138]:
n_d_rrb_je = pd.concat([n_d_rrb_je,class_rrbje],axis=1)

In [139]:
n_d_rrb_je

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2211106,b50301cd6345fd00a391b3ee113ab9ed,7.34,8.0,2.0,0.0,5.0,10.0,RRB JE,Engineering Recruitment Exams,False,0
2211107,b50301cd6345fd00a391b3ee113ab9ed,7.50,24.0,50.0,0.0,26.0,74.0,RRB JE,Engineering Recruitment Exams,True,1
2211108,651e5946ee103784e94fb5068201e935,7.34,8.0,2.0,0.0,5.0,10.0,RRB JE,Engineering Recruitment Exams,False,0
2211109,651e5946ee103784e94fb5068201e935,7.50,24.0,50.0,0.0,26.0,74.0,RRB JE,Engineering Recruitment Exams,True,1
2211110,3453d2a4b77c075137a25f5da694fa75,7.34,8.0,2.0,0.0,5.0,10.0,RRB JE,Engineering Recruitment Exams,False,0
2211111,3453d2a4b77c075137a25f5da694fa75,7.50,24.0,50.0,0.0,26.0,74.0,RRB JE,Engineering Recruitment Exams,True,1
2211112,bf7f5ef030c37b84b6251002bdf655fc,7.34,8.0,2.0,0.0,5.0,10.0,RRB JE,Engineering Recruitment Exams,False,0
2211113,bf7f5ef030c37b84b6251002bdf655fc,7.50,24.0,50.0,0.0,26.0,74.0,RRB JE,Engineering Recruitment Exams,True,1

In [140]:
filt19 = (data['targets/0/title/0/value'] == 'GATE ME')
n_d_gate_me = data.loc[filt19,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [141]:
max(n_d_gate_me['marks']),min(n_d_gate_me['marks']),np.mean(n_d_gate_me['marks'])

(7.02, -2.64, 2.044814814814812)

In [142]:
n_d_gate_me['check_elegible'] = n_d_gate_me['marks']>=np.mean(n_d_gate_me['marks'])

In [143]:
list_gate_me = []

In [144]:
for i in n_d_gate_me['marks']:
    if(i>=min(n_d_gate_me['marks']) and i<=np.mean(n_d_gate_me['marks'])):
        list_gate_me.append(0)
    else:
        list_gate_me.append(1)

In [145]:
class_gate_me = pd.DataFrame(list_gate_me,columns=['class'],index =n_d_gate_me.index)

In [146]:
n_d_gate_me = pd.concat([n_d_gate_me,class_gate_me],axis=1)

In [147]:
n_d_gate_me

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2207908,6e6dabfe6d4eaa2d15b4672e0d0fad5a,7.02,5.0,5.0,0.0,0.0,10.0,GATE ME,Engineering Recruitment Exams,True,1
2207909,6e6dabfe6d4eaa2d15b4672e0d0fad5a,7.02,5.0,5.0,0.0,0.0,10.0,GATE ME,Engineering Recruitment Exams,True,1
2207910,6e6dabfe6d4eaa2d15b4672e0d0fad5a,1.67,2.0,3.0,0.0,5.0,5.0,GATE ME,Engineering Recruitment Exams,False,0
2207911,6e6dabfe6d4eaa2d15b4672e0d0fad5a,1.67,2.0,3.0,0.0,5.0,5.0,GATE ME,Engineering Recruitment Exams,False,0
2207912,6e6dabfe6d4eaa2d15b4672e0d0fad5a,2.34,3.0,5.0,0.0,2.0,8.0,GATE ME,Engineering Recruitment Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2208416,6a3d40842148acf4c6c5553e8d6fef8f,0.67,1.0,4.0,0.0,0.0,5.0,GATE ME,State Govt. Exams,False,0
2208417,6a3d40842148acf4c6c5553e8d6fef8f,0.34,1.0,4.0,0.0,0.0,5.0,GATE ME,State Govt. Exams,False,0
2208418,6a3d40842148acf4c6c5553e8d6fef8f,0.67,1.0,4.0,0.0,0.0,5.0,GATE ME,State Govt. Exams,False,0
2208419,6a3d40842148acf4c6c5553e8d6fef8f,2.00,2.0,1.0,0.0,2.0,3.0,GATE ME,State Govt. Exams,False,0
2208420,6a3d40842148acf4c6c5553e8d6fef8f,2.00,2.0,1.0,0.0,2.0,3.0,GATE ME,State Govt. Exams,False,0

In [148]:
filt20 = (data['targets/0/title/0/value'] == 'RRC Group D')
n_d_rrc_g_d= data.loc[filt20,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [149]:
max_rrcd = max(n_d_rrc_g_d['marks'])
min_rrcd = min(n_d_rrc_g_d['marks'])
avg_rrcd = np.mean(n_d_rrc_g_d['marks'])
list_rrcd = []
print(max_rrcd,min_rrcd,avg_rrcd,n_d_rrc_g_d.shape)

72.06 -3.29 5.738599999998887 (131100, 9)

In [150]:
n_d_rrc_g_d['check_elegible'] = n_d_rrc_g_d['marks']>=np.mean(n_d_rrc_g_d['marks'])

In [151]:
for i in n_d_rrc_g_d['marks']:
    if(i>=min_rrcd and i<=avg_rrcd):
        list_rrcd.append(0)
    else:
        list_rrcd.append(1)

In [152]:
class_rrcd = pd.DataFrame(list_rrcd,columns=['class'],index =n_d_rrc_g_d.index)

In [153]:
n_d_rrc_g_d = pd.concat([n_d_rrc_g_d,class_rrcd],axis=1)

In [154]:
n_d_rrc_g_d

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
64343,5bb87458a65055efdb2af4494929a93a,54.72,60.0,16.0,0.0,24.0,76.0,RRC Group D,SSC Exams,True,1
64344,5bb87458a65055efdb2af4494929a93a,4.05,9.0,15.0,0.0,6.0,24.0,RRC Group D,SSC Exams,False,0
64345,5bb87458a65055efdb2af4494929a93a,-0.63,3.0,11.0,0.0,5.0,14.0,RRC Group D,SSC Exams,False,0
64346,5bb87458a65055efdb2af4494929a93a,56.06,62.0,18.0,0.0,20.0,80.0,RRC Group D,SSC Exams,True,1
64347,5bb87458a65055efdb2af4494929a93a,-0.64,2.0,8.0,0.0,12.0,10.0,RRC Group D,SSC Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
195438,707c90b476b535edd6f23b33e8cf052c,2.02,4.0,6.0,0.0,0.0,10.0,RRC Group D,Teaching Exams,False,0
195439,707c90b476b535edd6f23b33e8cf052c,1.02,3.0,6.0,0.0,1.0,9.0,RRC Group D,Teaching Exams,False,0
195440,707c90b476b535edd6f23b33e8cf052c,-1.31,1.0,7.0,0.0,2.0,8.0,RRC Group D,Teaching Exams,False,0
195441,707c90b476b535edd6f23b33e8cf052c,1.35,3.0,5.0,0.0,2.0,8.0,RRC Group D,Teaching Exams,False,0
195442,707c90b476b535edd6f23b33e8cf052c,1.35,3.0,5.0,0.0,2.0,8.0,RRC Group D,Teaching Exams,False,0

In [155]:
filt21 = (data['targets/0/title/0/value'] == 'Bank of Maharastra Clerk')
n_d_b_m_c= data.loc[filt21,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [156]:
n_d_b_m_c['check_elegible'] = n_d_b_m_c['marks']>=np.mean(n_d_b_m_c['marks'])

In [157]:
max_bmc = max(n_d_b_m_c['marks'])
min_bmc = min(n_d_b_m_c['marks'])
avg_bmc = np.mean(n_d_b_m_c['marks'])
list_bmc = []
print(max_bmc,min_bmc,avg_bmc,n_d_b_m_c.shape)

7.5 7.5 7.5 (551, 10)

In [158]:
for i in n_d_b_m_c['marks']:
    if(i==min_bmc and i==avg_bmc and i == max_bmc):
        list_bmc.append(1)
    elif(i>=min_bmc and i<=avg_bmc):
        list_bmc.append(0)
    else:
        list_bmc.append(1)

In [159]:
class_bmc = pd.DataFrame(list_bmc,columns=['class'],index = n_d_b_m_c.index)

In [160]:
n_d_b_m_c = pd.concat([n_d_b_m_c,class_bmc],axis=1)

In [161]:
n_d_b_m_c

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2211808,172483b85ba445e8eeebf52ebdc7ed59,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2211809,af0705dbab4e1790ceb26c57b55bf80f,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2211810,037dc20b3ba187d896b96ec0de12bfb4,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2211811,fc74b709ed899200888b4c7d5f65ca07,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2211812,fc9c6291e9ee40813b7bfae02d260c5d,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2212354,3e954dc0eb0592df801e21c0ceae9bb3,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2212355,cfc88005c1d91be047860ffac5007835,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2212356,e54b5d4c2b9943d4393aebf1a0b1a356,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2212357,18601e468e02184ee24d266e0301cd9d,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1
2212358,bc4c72a8e00262a7427e391fd497efa9,7.5,24.0,50.0,0.0,26.0,74.0,Bank of Maharastra Clerk,SSC Exams,True,1

In [162]:
filt22 = (data['targets/0/title/0/value'] == 'PNRD Assam')
n_d_pnrd_a= data.loc[filt22,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [163]:
max(n_d_pnrd_a['marks']),min(n_d_pnrd_a['marks']),np.mean(n_d_pnrd_a['marks'])

(7.5, 7.5, 7.5)

In [164]:
n_d_pnrd_a['check_elegible'] = n_d_pnrd_a['marks']>=np.mean(n_d_pnrd_a['marks'])

In [165]:
list_pnrd = []

In [166]:
for i in n_d_pnrd_a['marks']:
    if(i==max(n_d_pnrd_a['marks']) and i==min(n_d_pnrd_a['marks']) and np.mean(n_d_pnrd_a['marks'])):
        list_pnrd.append(1)
    elif(i>=min(n_d_pnrd_a['marks']) and i<=np.mean(n_d_pnrd_a['marks'])):
        list_pnrd.append(0)
    else:
        list_pnrd.append(1)

In [167]:
class_pnrd = pd.DataFrame(list_pnrd,columns=['class'],index =n_d_pnrd_a.index)

In [168]:
n_d_pnrd_a = pd.concat([n_d_pnrd_a,class_pnrd],axis=1)

In [169]:
n_d_pnrd_a

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2211800,00769f64e23af532853fef512416b7ec,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211801,a71847ba5da8621181eb2d1b1e68fa32,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211802,54fb216d1961bf3a0fee6eafe5ac7446,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211803,1e1be5dcd09701a2269585a28dc04a8b,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211804,caa918fa87b8197d667b1de4fbb01753,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211805,07bb130d75ec05e475894e2e29991217,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211806,840dbc533079144473ebd8e3bd6c675c,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1
2211807,e6ada9d75a8699370e1a86fcd0719484,7.5,24.0,50.0,0.0,26.0,74.0,PNRD Assam,State Govt. Exams,True,1

In [170]:
filt23 = (data['targets/0/title/0/value'] == 'L&T')
n_d_lat= data.loc[filt23,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [171]:
max(n_d_lat['marks']),min(n_d_lat['marks']),np.mean(n_d_lat['marks'])

(24.0, 24.0, 24.0)

In [172]:
list_lat = []

In [173]:
n_d_lat['check_elegible'] = n_d_lat['marks']>=np.mean(n_d_lat['marks'])

In [174]:
for i in n_d_lat['marks']:
    if(i==max(n_d_lat['marks']) and i==min(n_d_lat['marks']) and np.mean(n_d_lat['marks'])):
        list_lat.append(1)
    elif(i>=min(n_d_lat['marks']) and i<=np.mean(n_d_lat['marks'])):
        list_lat.append(0)
    else:
        list_lat.append(1)

In [175]:
class_lat = pd.DataFrame(list_lat,columns=['class'],index =n_d_lat.index)

In [176]:
n_d_lat = pd.concat([n_d_lat,class_lat],axis=1)

In [177]:
n_d_lat

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
62959,18f8e02183eb48498ca75c1ddd0ddcac,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62960,f61d403aa114d40f9e533fc59d42ffd7,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62961,fa95f53ec6139695c3f980434515b3d3,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62962,0d58533a653ef88b05e019bd037890b3,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62963,d253389e243d3732d0cd67d836b5257d,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62964,81189c791a61ebfbacf30f2129cc2001,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62965,ba2b60a8ee78f2e3f36611dbb5681486,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1
62966,05d8836e68458b6f24afa2fda9e59a39,24.0,24.0,36.0,0.0,0.0,60.0,L&T,SSC Exams,True,1

In [178]:
filt24 = (data['targets/0/title/0/value'] == 'Airforce Group Y')
n_d_A_G_Y= data.loc[filt24,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [179]:
max_agy = max(n_d_A_G_Y['marks'])
min_agy = min(n_d_A_G_Y['marks'])
avg_agy = np.mean(n_d_A_G_Y['marks'])
list_agy=[]
print(max_agy,min_agy,avg_agy,n_d_A_G_Y.shape)

15.25 -2.5 4.673529411764706 (1445, 9)

In [180]:
n_d_A_G_Y['check_elegible'] = n_d_A_G_Y['marks']>=np.mean(n_d_A_G_Y['marks'])

In [181]:
for i in n_d_A_G_Y['marks']:
    if(i>=min_agy and i<=avg_agy):
        list_agy.append(0)
    else:
        list_agy.append(1)

In [182]:
class_agy = pd.DataFrame(list_agy,columns=['class'],index =n_d_A_G_Y.index)

In [183]:
n_d_A_G_Y = pd.concat([n_d_A_G_Y,class_agy],axis=1)

In [184]:
n_d_A_G_Y

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2209513,35500de0c9163ca0ad02e84efd1f141d,9.75,10.0,1.0,0.0,3.0,11.0,Airforce Group Y,Engineering Recruitment Exams,True,1
2209514,35500de0c9163ca0ad02e84efd1f141d,6.25,7.0,3.0,0.0,1.0,10.0,Airforce Group Y,Engineering Recruitment Exams,True,1
2209515,35500de0c9163ca0ad02e84efd1f141d,2.50,5.0,10.0,0.0,0.0,15.0,Airforce Group Y,Engineering Recruitment Exams,False,0
2209516,35500de0c9163ca0ad02e84efd1f141d,4.00,5.0,4.0,0.0,6.0,9.0,Airforce Group Y,Engineering Recruitment Exams,False,0
2209517,35500de0c9163ca0ad02e84efd1f141d,7.50,9.0,6.0,0.0,0.0,15.0,Airforce Group Y,Engineering Recruitment Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2210953,5f07f6632a093325fadd67d3b7969da3,2.50,4.0,6.0,0.0,0.0,10.0,Airforce Group Y,Engineering Recruitment Exams,False,0
2210954,5f07f6632a093325fadd67d3b7969da3,-2.50,0.0,10.0,0.0,0.0,10.0,Airforce Group Y,Engineering Recruitment Exams,False,0
2210955,5f07f6632a093325fadd67d3b7969da3,2.25,3.0,3.0,0.0,4.0,6.0,Airforce Group Y,Engineering Recruitment Exams,False,0
2210956,5f07f6632a093325fadd67d3b7969da3,2.50,3.0,2.0,0.0,5.0,5.0,Airforce Group Y,Engineering Recruitment Exams,False,0
2210957,5f07f6632a093325fadd67d3b7969da3,5.50,6.0,2.0,0.0,2.0,8.0,Airforce Group Y,Engineering Recruitment Exams,True,1

In [185]:
filt25 = (data['targets/0/title/0/value'] == 'UP Police Sub Inspector')
n_d_UP_S_I= data.loc[filt25,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [186]:
max_upsi = max(n_d_UP_S_I['marks'])
min_upsi = min(n_d_UP_S_I['marks'])
avg_upsi = np.mean(n_d_UP_S_I['marks'])
list_upsi=[]
print(max_upsi,min_upsi,avg_upsi,n_d_UP_S_I.shape)

6.25 -0.25 3.7205882352941178 (14688, 9)

In [187]:
n_d_UP_S_I['check_elegible'] = n_d_UP_S_I['marks']>=np.mean(n_d_UP_S_I['marks'])

In [188]:
for i in n_d_UP_S_I['marks']:
    if(i>=min_upsi and i<=avg_upsi):
        list_upsi.append(0)
    else:
        list_upsi.append(1)

In [189]:
class_upsi = pd.DataFrame(list_upsi,columns=['class'],index=n_d_UP_S_I.index)

In [190]:
n_d_UP_S_I = pd.concat([n_d_UP_S_I,class_upsi],axis=1)

In [191]:
n_d_UP_S_I

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
1923538,e99b84931a866d6f523e90950d13620d,5.00,7.0,8.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,True,1
1923539,e99b84931a866d6f523e90950d13620d,2.50,5.0,10.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,False,0
1923540,e99b84931a866d6f523e90950d13620d,5.00,6.0,4.0,0.0,5.0,10.0,UP Police Sub Inspector,State Govt. Exams,True,1
1923541,e99b84931a866d6f523e90950d13620d,3.75,6.0,9.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,True,1
1923542,e99b84931a866d6f523e90950d13620d,3.75,6.0,9.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
1938221,2d404c61648e1cab704c33d91fcc32a7,5.00,7.0,8.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,True,1
1938222,2d404c61648e1cab704c33d91fcc32a7,-0.25,0.0,1.0,0.0,14.0,1.0,UP Police Sub Inspector,State Govt. Exams,False,0
1938223,2d404c61648e1cab704c33d91fcc32a7,1.75,3.0,5.0,0.0,7.0,8.0,UP Police Sub Inspector,State Govt. Exams,False,0
1938224,2d404c61648e1cab704c33d91fcc32a7,3.75,6.0,9.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,True,1
1938225,2d404c61648e1cab704c33d91fcc32a7,5.00,7.0,8.0,0.0,0.0,15.0,UP Police Sub Inspector,State Govt. Exams,True,1

In [192]:
filt26 = (data['targets/0/title/0/value'] == 'Airforce Group X')
n_d_A_G_X= data.loc[filt26,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [193]:
max_nd_agx = max(n_d_A_G_X['marks'])
min_nd_agx = min(n_d_A_G_X['marks'])
avg_nd_agx = np.mean(n_d_A_G_X['marks'])
list_nd_agx=[]
print(max_nd_agx,min_nd_agx,avg_nd_agx,n_d_A_G_X.shape)

40.0 -1.65 3.9889542483658977 (7803, 9)

In [194]:
n_d_A_G_X['check_elegible'] = n_d_A_G_X['marks']>=np.mean(n_d_A_G_X['marks'])

In [195]:
for i in n_d_A_G_X['marks']:
    if(i>=min_nd_agx and i<=avg_nd_agx):
        list_nd_agx.append(0)
    else:
        list_nd_agx.append(1)

In [196]:
class_nd_agx = pd.DataFrame(list_nd_agx,columns=['class'],index =n_d_A_G_X.index)

In [197]:
n_d_A_G_X = pd.concat([n_d_A_G_X,class_nd_agx],axis=1)

In [198]:
n_d_A_G_X

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2200105,cde8ae1f1e21643e1a83956e21d2ff51,3.75,6.0,9.0,0.0,0.0,15.0,Airforce Group X,Banking Exams,False,0
2200106,cde8ae1f1e21643e1a83956e21d2ff51,11.25,12.0,3.0,0.0,0.0,15.0,Airforce Group X,Banking Exams,True,1
2200107,cde8ae1f1e21643e1a83956e21d2ff51,2.50,5.0,10.0,0.0,0.0,15.0,Airforce Group X,Banking Exams,False,0
2200108,cde8ae1f1e21643e1a83956e21d2ff51,12.50,13.0,2.0,0.0,0.0,15.0,Airforce Group X,Banking Exams,True,1
2200109,cde8ae1f1e21643e1a83956e21d2ff51,2.50,5.0,10.0,0.0,0.0,15.0,Airforce Group X,Banking Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
2207903,c2e894932f59c7b4ef8d86553a9172bb,0.75,1.0,1.0,0.0,2.0,2.0,Airforce Group X,Defence Exams,False,0
2207904,c2e894932f59c7b4ef8d86553a9172bb,-1.25,1.0,9.0,0.0,0.0,10.0,Airforce Group X,Defence Exams,False,0
2207905,c2e894932f59c7b4ef8d86553a9172bb,-1.25,1.0,9.0,0.0,0.0,10.0,Airforce Group X,Defence Exams,False,0
2207906,c2e894932f59c7b4ef8d86553a9172bb,5.00,6.0,4.0,0.0,0.0,10.0,Airforce Group X,Defence Exams,True,1
2207907,c2e894932f59c7b4ef8d86553a9172bb,-1.25,1.0,9.0,0.0,0.0,10.0,Airforce Group X,Defence Exams,False,0

In [199]:
filt27 = (data['targets/0/title/0/value'] == 'SSC MTS')
n_d_ssc_mts= data.loc[filt27,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [200]:
max_ssc_mts = max(n_d_ssc_mts['marks'])
min_ssc_mts = min(n_d_ssc_mts['marks'])
avg_ssc_mts = np.mean(n_d_ssc_mts['marks'])
list_ssc_mts=[]
print(max_ssc_mts, min_ssc_mts , avg_ssc_mts,n_d_ssc_mts.shape)

12.5 -1.75 0.8556338028169014 (246228, 9)

In [201]:
n_d_ssc_mts['check_elegible'] = n_d_ssc_mts['marks']>=np.mean(n_d_ssc_mts['marks'])

In [202]:
for i in n_d_ssc_mts['marks']:
    if(i>=min_ssc_mts and i<=avg_ssc_mts):
        list_ssc_mts.append(0)
    else:
        list_ssc_mts.append(1)

In [203]:
class_ssc_mts = pd.DataFrame(list_ssc_mts,columns=['class'],index =n_d_ssc_mts.index)

In [204]:
n_d_ssc_mts = pd.concat([n_d_ssc_mts,class_ssc_mts],axis=1)

In [205]:
n_d_ssc_mts

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
1953877,230725caa8c86ff5bfaa71d6f8dfae14,1.75,2.0,1.0,0.0,12.0,3.0,SSC MTS,SSC Exams,True,1
1953878,230725caa8c86ff5bfaa71d6f8dfae14,0.00,3.0,12.0,0.0,0.0,15.0,SSC MTS,SSC Exams,False,0
1953879,230725caa8c86ff5bfaa71d6f8dfae14,6.25,8.0,7.0,0.0,0.0,15.0,SSC MTS,SSC Exams,True,1
1953880,230725caa8c86ff5bfaa71d6f8dfae14,2.50,5.0,10.0,0.0,0.0,15.0,SSC MTS,SSC Exams,True,1
1953881,230725caa8c86ff5bfaa71d6f8dfae14,3.00,5.0,8.0,0.0,2.0,13.0,SSC MTS,SSC Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2200100,d976880c840918946efde60d52f92f85,0.75,1.0,1.0,0.0,8.0,2.0,SSC MTS,SSC Exams,False,0
2200101,d976880c840918946efde60d52f92f85,1.00,1.0,1.0,0.0,13.0,2.0,SSC MTS,SSC Exams,True,1
2200102,d976880c840918946efde60d52f92f85,1.00,1.0,1.0,0.0,13.0,2.0,SSC MTS,SSC Exams,True,1
2200103,d976880c840918946efde60d52f92f85,1.00,1.0,1.0,0.0,13.0,2.0,SSC MTS,SSC Exams,True,1
2200104,d976880c840918946efde60d52f92f85,1.00,1.0,1.0,0.0,13.0,2.0,SSC MTS,SSC Exams,True,1

In [206]:
filt28 = (data['targets/0/title/0/value'] == 'SBI SO')
n_d_sbi_so=data.loc[filt28,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [207]:
max_nd_sbi_so = max(n_d_sbi_so['marks'])
min_nd_sbi_so = min(n_d_sbi_so['marks'])
avg_nd_sbi_so = np.mean(n_d_sbi_so['marks'])
list_nd_sbiso=[]
print(max_nd_sbi_so,min_nd_sbi_so,avg_nd_sbi_so,n_d_sbi_so.shape)

2.5 2.5 2.5 (1092, 9)

In [208]:
n_d_sbi_so['check_elegible'] = n_d_sbi_so['marks']>=np.mean(n_d_sbi_so['marks'])

In [209]:
for i in n_d_sbi_so['marks']:
    if(i == max_nd_sbi_so and i == min_nd_sbi_so and i==avg_nd_sbi_so):
        list_nd_sbiso.append(1)
    elif(i>=min_nd_sbi_so and i<=avg_nd_sbi_so):
        list_nd_sbiso.append(0)
    else:
        list_nd_sbiso.append(1)

In [210]:
class_nd_sbiso = pd.DataFrame(list_nd_sbiso,columns=['class'],index =n_d_sbi_so.index)

In [211]:
n_d_sbi_so = pd.concat([n_d_sbi_so,class_nd_sbiso],axis=1)

In [212]:
n_d_sbi_so

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2208421,846458802b56ecaf406e469c132dd4af,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,SSC Exams,True,1
2208422,846458802b56ecaf406e469c132dd4af,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,SSC Exams,True,1
2208423,bc4ba0bc0446374d0a6dcd676293afdf,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,SSC Exams,True,1
2208424,bc4ba0bc0446374d0a6dcd676293afdf,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,SSC Exams,True,1
2208425,8658a3bd4b08ae276afd8bc6c93b2ac1,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,SSC Exams,True,1
...,...,...,...,...,...,...,...,...,...,...,...
2209508,30d83facb4615092337d6e8850f26768,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,State Govt. Exams,True,1
2209509,4bc9de36be99c6d4feb08526ec9ac347,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,State Govt. Exams,True,1
2209510,4bc9de36be99c6d4feb08526ec9ac347,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,State Govt. Exams,True,1
2209511,214237b96314eef1a9dc5bfaec949f87,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,State Govt. Exams,True,1
2209512,214237b96314eef1a9dc5bfaec949f87,2.5,7.0,18.0,0.0,0.0,25.0,SBI SO,State Govt. Exams,True,1

In [213]:
filt29 = (data['targets/0/title/0/value'] == 'REET')
n_d_reet=data.loc[filt29,['sid','marks','correct','wrong','partial','skipped','total_answered','targets/0/title/0/value','target_super_groups/0/title/0/value']]

In [214]:
max_reet = max(n_d_reet['marks'])
min_reet = min(n_d_reet['marks'])
avg_reet = np.mean(n_d_reet['marks'])
list_reet = []
print(max_reet,min_reet,avg_reet,n_d_reet.shape)

65.0 -1.25 5.5574324324324325 (148, 9)

In [215]:
n_d_reet['check_elegible'] = n_d_reet['marks']>=np.mean(n_d_reet['marks'])

In [216]:
for i in n_d_reet['marks']:
    if(i>=min_reet and i<=avg_reet):
        list_reet.append(0)
    else:
        list_reet.append(1)

In [217]:
class_reet = pd.DataFrame(list_reet,columns=['class'],index =n_d_reet.index)

In [218]:
n_d_reet = pd.concat([n_d_reet,class_reet],axis=1)

In [219]:
n_d_reet

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,check_elegible,class
2210958,160991c6227e58d0ddb7e45e48323153,5.0,5.0,0.0,0.0,0.0,5.0,REET,Teaching Exams,False,0
2210959,160991c6227e58d0ddb7e45e48323153,2.0,2.0,3.0,0.0,0.0,5.0,REET,Teaching Exams,False,0
2210960,160991c6227e58d0ddb7e45e48323153,5.0,5.0,0.0,0.0,0.0,5.0,REET,Teaching Exams,False,0
2210961,160991c6227e58d0ddb7e45e48323153,2.0,2.0,3.0,0.0,0.0,5.0,REET,Teaching Exams,False,0
2210962,160991c6227e58d0ddb7e45e48323153,4.0,4.0,1.0,0.0,0.0,5.0,REET,Teaching Exams,False,0
...,...,...,...,...,...,...,...,...,...,...,...
2211101,160991c6227e58d0ddb7e45e48323153,1.0,1.0,4.0,0.0,0.0,5.0,REET,Teaching Exams,False,0
2211102,160991c6227e58d0ddb7e45e48323153,0.0,0.0,0.0,0.0,5.0,0.0,REET,Teaching Exams,False,0
2211103,160991c6227e58d0ddb7e45e48323153,0.0,0.0,0.0,0.0,5.0,0.0,REET,Teaching Exams,False,0
2211104,160991c6227e58d0ddb7e45e48323153,0.0,0.0,4.0,0.0,1.0,4.0,REET,Teaching Exams,False,0
2211105,160991c6227e58d0ddb7e45e48323153,0.0,0.0,4.0,0.0,1.0,4.0,REET,Teaching Exams,False,0

In [220]:
###Merging all frames##

In [221]:
#new_frame = n_d_tet.append([n_d_dfg, n_d_rpc, n_d_gin, n_d_nda, n_d_rrb_o, n_d_epfo, n_d_ssc_chsl, n_d_amcat, n_d_bpsi, n_d_ssc_cgl, n_d_uppcs, n_d_sbi_clerk, n_d_nic_t_a, n_d_ibps, n_d_rrb_ntpc, n_d_rrb_dpc, n_d_rrb_je, n_d_gate_me, n_d_gate_me, n_d_rrc_g_d, n_d_b_m_c, n_d_pnrd_a, n_d_lat, n_d_A_G_Y, n_d_UP_S_I, n_d_A_G_X, n_d_ssc_mts, n_d_sbi_so, n_d_reet],ignore_index=True)

In [222]:
#new_frame

In [223]:
new_f = pd.concat([n_d_tet,n_d_dfg, n_d_rpc, n_d_gin, n_d_nda, n_d_rrb_o, n_d_epfo, n_d_ssc_chsl, n_d_amcat, n_d_bpsi, n_d_ssc_cgl, n_d_uppcs, n_d_sbi_clerk, n_d_nic_t_a, n_d_ibps, n_d_rrb_ntpc, n_d_rrb_dpc, n_d_rrb_je, n_d_gate_me, n_d_gate_me, n_d_rrc_g_d, n_d_b_m_c, n_d_pnrd_a, n_d_lat, n_d_A_G_Y, n_d_UP_S_I, n_d_A_G_X, n_d_ssc_mts, n_d_sbi_so, n_d_reet],ignore_index=True,axis=0,join='inner')

In [224]:
new_f

,sid,marks,correct,wrong,partial,skipped,total_answered,targets/0/title/0/value,target_super_groups/0/title/0/value,class
0,d48694e44242cef14759e0d8e41f569f,1.0,1.0,2.0,0.0,7.0,3.0,CTET,Teaching Exams,0
1,d48694e44242cef14759e0d8e41f569f,3.0,3.0,7.0,0.0,0.0,10.0,CTET,Teaching Exams,1
2,d48694e44242cef14759e0d8e41f569f,1.0,1.0,9.0,0.0,0.0,10.0,CTET,Teaching Exams,0
3,d48694e44242cef14759e0d8e41f569f,6.0,6.0,4.0,0.0,0.0,10.0,CTET,Teaching Exams,1
4,d48694e44242cef14759e0d8e41f569f,1.0,1.0,9.0,0.0,0.0,10.0,CTET,Teaching Exams,0
...,...,...,...,...,...,...,...,...,...,...
2213266,160991c6227e58d0ddb7e45e48323153,1.0,1.0,4.0,0.0,0.0,5.0,REET,Teaching Exams,0
2213267,160991c6227e58d0ddb7e45e48323153,0.0,0.0,0.0,0.0,5.0,0.0,REET,Teaching Exams,0
2213268,160991c6227e58d0ddb7e45e48323153,0.0,0.0,0.0,0.0,5.0,0.0,REET,Teaching Exams,0
2213269,160991c6227e58d0ddb7e45e48323153,0.0,0.0,4.0,0.0,1.0,4.0,REET,Teaching Exams,0
2213270,160991c6227e58d0ddb7e45e48323153,0.0,0.0,4.0,0.0,1.0,4.0,REET,Teaching Exams,0

# Creating dictionary to store the values of other courses for which a particular student is elegible

# This dictionary will help to suggest other courses

In [300]:
dict_elegible={}

In [301]:
def check_elegible_for_other_courses(sid_list,marks_list):
    for i,j in zip(sid_list,marks_list):
        list_save=[]
        for k in range(len(Dict)):
            for l in  range(len(list_avg_score)):
                if(j>=Dict[k] and j>=list_avg_score[l]):
                    list_save.append(l)
        dict_elegible.update({str(i):list_save})
    return dict_elegible

In [302]:
save_point = check_elegible_for_other_courses(new_f['sid'],new_f['marks'])

# Here in below block we have seperated sid's and marks to create dataframes

In [347]:
list_elegible_sid=[]
list_elegible_courses=[]

In [348]:
def pre_paring_list(dictn):
    for i in save_point:
        list_elegible_sid.append(i)
        list_elegible_courses.append(save_point.get(i))
    return list_elegible_sid,list_elegible_courses

In [349]:
sid_list_save , list_elegible_save=pre_paring_list(save_point)

In [350]:
sid_list_df = pd.DataFrame(sid_list_save,columns=['sid'])

In [351]:
list_elegible_save = np.array(list_elegible_save)

In [352]:
list_elegible_df = pd.DataFrame(list_elegible_save,columns=['values'])

# Below these are values that are stored in value column of list_of_other_elegible_courses

In [353]:
map_dict={
    0:'CTET',1:'DELHI FOREST GUARD',2:'RAJASTHAN POLICE CONSTABLE',3:'GATE IN',4:'NDA',5:'RRB OFFICE ASSISTANT',
    6:'EPFO ASSISTANT',7:'SSC CHSL',8:'AMCAT',9:'BIHAR POLICE SI',10:'SSC CGL',11:'UPPCS',12:'SBI CLERK',13:'NIC TECHNICAL',
    14:'IBPS PO',15:'RRB NTPC',16:'DELHI POLICE CONSTABLE',17:'RRB JE',18:'GATE ME',19:'RRB GROUP D',20:'BANK OF MAHARASHTRA',
    21:'PNRD ASSAM',22:'L&T',23:'AIRFORCE GROUP Y',24:'UP POLICE SUB INSPECTOR',25:'AIRFORCE GROUP X',26:'SSC MTS',27:'SBI SO',
    28:'REET'
}

In [363]:
 list_of_other_elegible_courses = pd.concat([sid_list_df,list_elegible_df],axis=1)

In [364]:
list_of_other_elegible_courses

,sid,values
0,d48694e44242cef14759e0d8e41f569f,[]
1,b871f0f5cc8cec8486cfe0a5d730c600,[]
2,eb560714057a8d198b325e56f1e5c901,[]
3,191dd8561a50140348b9c8898c308ac2,[]
4,8f93c308c03581dfdd5294b02999ede3,[]
...,...,...
9995,16ded15e334ecc5648cf5bfd24c2d3ba,"[14, 18, 26, 27, 14, 18, 26, 27, 14, 18, 26, 2..."
9996,30d83facb4615092337d6e8850f26768,"[14, 18, 26, 27, 14, 18, 26, 27, 14, 18, 26, 2..."
9997,4bc9de36be99c6d4feb08526ec9ac347,"[14, 18, 26, 27, 14, 18, 26, 27, 14, 18, 26, 2..."
9998,214237b96314eef1a9dc5bfaec949f87,"[14, 18, 26, 27, 14, 18, 26, 27, 14, 18, 26, 2..."
9999,160991c6227e58d0ddb7e45e48323153,[]

# Hence we have pre-pared every thing corresponding to the output specification but due to lack of time we are unable to create map which can map map_dict key values to list values present in list_of_other_elegible_courses['values']